@model VeggieRestaurantApp.Models.Recipe

@{
    ViewData["Title"] = "RecipeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RecipeDetails</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeURL)
        </dt>
        <dd class = "col-sm-10">
            <a href='@Html.DisplayFor(modelItem => Model.RecipeURL)'>Click Here for Recipe</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            <img src='@Html.DisplayFor(modelItem => Model.Image)' alt="Recipe Image" width="auto" height="200">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class = "col-sm-2">
            Added By
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.diner.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="RecipeIndex">Back to All Recipes</a>
</div>
