@model IEnumerable<VeggieRestaurantApp.Models.Recipe>

@{
    ViewData["Title"] = "RecipeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Our Favorite Recipes</h1>

<h6>
    <a asp-action="CreateRecipe">Add A Recipe!</a>
</h6>

<h6>
    <a asp-action="Index"> Back To Home</a>
</h6>
<table class="table table-hover">
    <thead>
        <tr  class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href ='@Html.DisplayFor(modelItem => item.RecipeURL)'>Click Here for Recipe</a>
            </td>
            <td>
                <img src='@Html.DisplayFor(modelItem => item.Image)' alt="Recipe Image" width="auto" height="200">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            
            <td>
                
                <a asp-action="LikeRecipe" asp-route-id="@item.Id">Add A Like</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
