@model IEnumerable<VeggieRestaurantApp.Models.Recipe>

@{
    ViewData["Title"] = "ViewMyLikedRecipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Liked Recipes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href='@Html.DisplayFor(modelItem => item.RecipeURL)'>Click Here for Recipe</a>
            </td>
            <td>
                <img src='@Html.DisplayFor(modelItem => item.Image)' alt="Recipe Image" width="auto" height="200">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diner.Id)
            </td>
            <td>

                <a asp-action="RecipeDetails" asp-route-id="@item.Id"> Recipe Details</a> |
                <a asp-action="RecipeIndex" asp-route-id="@item.Id"> Back to Recipe List</a> |
                <a asp-action="Index">Back to Home</a>

            </td>
        </tr>
}
    </tbody>
</table>
